{% extends "base.html" %}
{% load staticfiles wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

<header role="banner">

  <a href="/">{% image page.page_image height-72 %}</a>
  <h4>Project Resources - NESC</h4>

</header>
<main>
  <div class="cards">
    <div class="card">
      <div id="viz" class="card-image">

      </div>
      <div class="card-header">
        Integration Management
      </div>
      <div class="card-copy">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
      </div>
    </div>

    <div class="card">
      <div id="scope" class="card-image">

      </div>
      <div class="card-header">
        Scope Management
      </div>
      <div class="card-copy">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
      </div>
    </div>

    <div class="card">
      <div id="cost" class="card-image">

      </div>
      <div class="card-header">
        Cost Management
      </div>
      <div class="card-copy">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
      </div>
    </div>

    <div class="card">
      <div id="quality" class="card-image">

      </div>
      <div class="card-header">
        Quality Management
      </div>
      <div class="card-copy">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
      </div>
    </div>

  </div>

</main>

{% endblock %}
